html,
body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
b {
    font-weight: 600;
}

img {
    max-width: 100%;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links>a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.logo {
    margin: 1rem 0;
}

.logo img {
    height: 100px;
}

#sc-products {
    padding: 2rem 0;
}

.card {
    max-width: 350px;
    margin: 1rem 0;
}

.card .card-img img {
    max-width: 100%;
}

footer {
    background-color: #384e77;
}
