html,
body {
    background-color: #fff;
    color: #636b6f;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
b {
    padding: 0;
    margin: 0;
    font-weight: 700;
}

a {
    transition: 0.1s all ease;
}

/*
color scheme:
    main-black: #2b3a55
    main-blue: #384e77
    main-red: #dc4444
*/

img {
    max-width: 100%;
}

header .logo {
    margin: auto;
}

header .logo img {
    height: 72px;
}

footer {
    position: relative;
    bottom: 0;
    background-color: #384e77;
}

footer .logo {
    height: 100px;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #ddd;
}

footer .map img:hover {
    opacity: 0.6;
}

.bg-blue {
    background: #384e77;
}

/* navbar */

.navbar-cont {
    vertical-align: middle;
    padding: 1rem 0;
}

.navbar-nav .nav-link {
    display: inline-block;
}

.navbar .navbar-nav {
    width: 100%;
}

.mainnav {
    display: flex;
}

.mainnav .list-group-item {
    border: none;
    border-radius: 0;
    background: none;
    padding: 0.5rem 0;
    text-align: center;
    border-radius: 0 !important;
}

@media (max-width: 62rem) {
    .mainnav .list-group-horizontal {
        justify-content: center;
    }
}

.mainnav .list-group-item::after {
    content: "";
    height: 16px;
    width: 1px;
    background: #ccc;
    vertical-align: middle;
    display: inline-block;
    margin: 0 1rem;
}

.mainnav .list-group-item:last-child::after {
    display: none;
}

.mainnav .list-group-item:hover,
.mainnav .list-group-item.active {
}

.mainnav .list-group-item a {
    color: #fafafa;
    font-weight: 700;
    font-size: 1rem;
}

.mainnav .list-group-item a:hover {
    text-decoration: none;
    color: #666;
}

.mainnav .list-group-item a > * {
    vertical-align: middle;
}

.mainnav .list-group-item:hover a,
.mainnav .list-group-item.active a {
    color: #fbe357;
}

.mainnav #search > .fa-search {
    font-size: 1rem;
}

/* /navbar */

/* .btn */

.btn.btn-success {
    background: #3ac47d;
    border-color: currentColor;
}

.btn.btn-success:hover {
    background: #3c9768;
}

.btn.btn-primary {
    color: #fff;
    background: #384e77;
    border-color: #636b6f;
    font-weight: 800;
}

.btn.btn-primary:hover {
    background: none;
    color: #384e77;
}

.btn-outline-primary {
    color: #384e77;
    border-color: currentColor;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #384e77;
    border-color: #384e77;
}

.btn-circle {
    border-radius: 50%;
}

/* .btn */

/* .text- */

.text-primary,
.text-primary:focus {
    color: #384e77 !important;
}

.font-light {
    font-weight: 200;
}

.font-bold {
    font-weight: 700;
}

/* .font-bold {
    font-weight: 800
} */

.font-xbold {
    font-weight: 900;
}

.font-alt {
    font-family: "Open Sans", sans-serif;
}

/* .text- */

/* .bg  */
.bg-blue-dark {
    background-image: radial-gradient(
        circle farthest-corner at 10% 20%,
        rgba(90, 92, 106, 1) 0%,
        rgba(32, 45, 58, 1) 81.3%
    );
}

.bg-blue-light {
    background: #eceef4;
}

/* .bg */

/* border */
.border-rad-05 {
    border-radius: 0.5rem;
}

/* border */

.form-control:focus {
    outline: none;
    box-shadow: none;
}

.form-cool .input-group-text,
.form-cool .form-control {
    border: none;
    background: none;
}

.form-cool input {
    font-size: inherit;
}

.form-cool .form-control:focus {
    outline: 0;
    box-shadow: none;
}

.form-cool .form-group > div {
    margin-bottom: 8px;
    background: #fff;
    padding: 8px 0;
    border-radius: 8px;
    overflow: hidden;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
}

.form-cool .form-group .error {
    color: #ef5350;
}

.circled {
    background: #384e77;
    color: #fff;
    border-radius: 55px;
    padding: 2px 6px;
    text-align: center;
    display: inline-block;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.main-wrapper {
    min-height: 100vh;
}

.content {
    min-height: 100vh;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

/* cards */

.products-card-wrapper .products-card {
    margin: 0 10px;
}

.products-card-wrapper a {
    text-decoration: none;
}

.products-card-wrapper .card {
    max-width: 270px;
    margin: 1rem 0;
    transition: 0.2s all ease-in-out;
    color: #636b6f;
}

.products-card-wrapper .card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    transform: scale(1.01);
}

.products-card-wrapper .card:hover h5 {
    color: #a0121c;
}

.products-card-wrapper .card .card-img img {
    max-width: 100%;
}

.products-card-wrapper .card-img {
    max-width: 75%;
    margin: auto;
}

.products-card-wrapper .card-header {
    background: none;
    padding: 1rem 1.25rem;
}

.products-card-wrapper .product-price {
    font-size: 1rem;
}

/* /cards */

/* Slick */
.home-banner-nav .slick-arrow::before {
    color: #fafafa;
    opacity: 1;
}
.slick-slider .slick-arrow::before {
    color: #232323;
}
.home-banner-nav .slick-prev {
    left: 12px;
}
.home-banner-nav .slick-next {
    right: 12px;
}

.slick-slider .slick-dots {
    bottom: -40px;
}

.slick-slider .slick-dots button::before {
    width: 16px;
    height: 16px;
    content: " ";
    background: #232323;
    border-radius: 100%;
}
