#sc-banner .card {
    min-height: 400px;
    overflow: hidden;
}

#sc-banner .card-img-overlay {
    color: #fff;
    font-weight: 900;
}

#sc-banner .product-merk {
    font-weight: 200;
}

#sc-banner .product-name,
#sc-banner .banner-title,
#sc-banner .buy-now {
    font-weight: 800;
}

#sc-banner .product-price {
    font-weight: 400;
}

#sc-banner .banner-title {
    color: yellow;
}

#sc-banner .product-name {
    text-transform: uppercase;
}

#sc-products {
    padding: 2rem 0;
}

#sc-products h5 {
    margin: 0;
}

.products-card {
    margin: 0 10px;
}

#sc-products a {
    text-decoration: none;
}

#sc-products .card {
    max-width: 270px;
    margin: 1rem 0;
    transition: 0.2s all ease-in-out;
    color: #636b6f;
}

#sc-products .card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    transform: scale(1.01);
}

#sc-products .card:hover h5 {
    color: #a0121c;
}

#sc-products .card .card-img img {
    max-width: 100%;
}

#sc-products .card-img {
    max-width: 75%;
    margin: auto;
}

#sc-products .card-header {
    background: none;
    padding: 1rem 1.25rem;
}

#sc-products .product-price {
    font-size: 1rem;
}

#sc-testimoni {
    padding: 2rem 0;
}

#sc-testimoni .card {
    border: none;
    border-radius: 1rem;
    text-align: center;
    margin: 0 6px;
}

#sc-testimoni .testimo-photo {
    height: 152px;
    width: 152px;
    margin: auto;
}

#sc-testimoni .testimo-photo .photo-border {
    border-radius: 50%;
    overflow: hidden;
    height: inherit;
    width: inherit;
}

#sc-testimoni .testimo-photo .photo-border img {
    height: inherit;
}

#sc-testimoni .testimo-name {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

/* RESPONSIVE STYLES */
@media screen and (max-width: 62rem) {
    #sc-banner .card-img {
        height: 100%;
        position: absolute;
        width: unset;
        margin-left: -350px;
        max-width: unset;
    }

    #sc-banner .banner-title {
        font-size: 1.75rem;
    }

    #sc-banner .product-name,
    #sc-banner .product-price,
    #sc-banner .buy-now {
        font-size: 1.5rem;
    }
}
